.barArea.barArea {
  display: grid;
  --spacing: .24em;
  grid-template-rows: var(--spacing) calc(100% - calc(var(--spacing) * 2)) var(--spacing);

  width: 100%;
  max-width: 100%;
  height: 100%;
}

.barArea.barArea > * {
  grid-row: 2;
  grid-column: 1;
}

.barSlider.barSlider {
  grid-row: 1 / span 3;

  z-index: 1;
  pointer-events: none;

  scale: 0;

  width: 2em;

  background: var(--accentColor);

  border-radius: var(--borderRadius);

  translate: -50% 0;
  transition: scale 0;
}

.barArea.barArea:focus .barSlider,
.barArea.barArea:hover .barSlider {
  scale: 1;

  transition: scale 250ms cubic-bezier(.26, .53, .74, 1.48);
}

@media (min-width: 28.125em) {
  .barArea.barArea {
    --spacing: .28em;
  }

  .barSlider.barSlider {
    width: 2.3em;
  }
}
