.barBackground {
  pointer-events: none;

  height: 100%;

  background: var(--buttonActiveBackground);
  border-radius: var(--borderRadius);
}

.barProgress {
  height: 100%;

  background: var(--accentColor);
  border-radius: var(--borderRadius);
}
