.settingsMenuButton {
  background: none;
  padding: 0;

  border: none;

  margin: 0;
}

.settingsMenuIcon {
  aspect-ratio: 1 / 1;

  filter: invert(1);

  width: 2.25em;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;

  list-style: none;
  z-index: 1;

  height: 100vh;

  background: var(--widgetBackground);
  padding: 1em;
  border-left: var(--widgetBorder);

  margin: 0;

  transform: translateX(100%);
  transition: transform 250ms;
}

.menuOpen {
  transform: translateX(0);
}

.colorSchemeValue {
  display: grid;
  grid-template-rows: 1.75em;
  grid-template-columns: 5.5em;

  width: 100%;
}

.saveLoadPodcasts {
  --saveLoadButtonFontSize: 1.125rem;
  font-size: var(--saveLoadButtonFontSize);

  display: grid;
  row-gap: .4em;
}

.saveLoadPodcasts button,
.saveLoadPodcasts a {
  display: grid;
  grid-template-columns: 1.1em auto;
  align-items: center;
}

.saveLoadButtonIcon {
  filter: var(--icons);
}

.saveLoadPodcasts button:focus .saveLoadButtonIcon,
.saveLoadPodcasts button:hover .saveLoadButtonIcon,
.saveLoadPodcasts button:active .saveLoadButtonIcon,
.saveLoadPodcasts a:focus .saveLoadButtonIcon,
.saveLoadPodcasts a:hover .saveLoadButtonIcon,
.saveLoadPodcasts a:active .saveLoadButtonIcon {
  filter: invert(1);
}
