.settingsMenuIcon {
  aspect-ratio: 1 / 1;

  filter: invert(1);

  width: 2.25em;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;

  list-style: none;
  z-index: 1;

  height: 100vh;

  background: var(--background);
  padding: 1em;
  border: var(--widgetBorder);

  margin: 0;

  transform: translateX(100%);
  transition: transform 250ms;
}

.menuOpen {
  transform: translateX(0);
}

.colorSchemeValue {
  color: dodgerblue;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

:root[style*='color-scheme: dark;'] .colorSchemeValue {
  color: violet;
}

.saveLoadPodcasts {
  display: grid;
  row-gap: .4em;
}

.saveButton,
.loadButton {
  color: #fff;

  display: grid;
  grid-template-columns: 1.1em auto;
  align-items: center;

  padding: .2em .4em;

  border-radius: calc(var(--borderRadius) / 1.5);
}

.saveButton {
  background: dodgerblue;
}

.loadButton {
  background: var(--accentColor);
}

.saveLoadButtonIcon {
  filter: invert(1);
}
