.settingsMenuIcon {
  aspect-ratio: 1 / 1;

  filter: invert(1);

  width: 2.25em;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;

  list-style: none;
  z-index: 1;

  height: 100vh;

  background: var(--widgetBackground);
  padding: 1em;
  border-left: var(--widgetBorder);

  margin: 0;

  transform: translateX(100%);
  transition: transform 250ms;
}

.menuOpen {
  transform: translateX(0);
}

.colorSchemeValue {
  display: grid;
  grid-template-rows: 1.75em;
  grid-template-columns: 5.5em;

  width: 100%;
}

.saveLoadPodcasts {
  display: grid;
  row-gap: .4em;
}

.saveButton,
.loadButton {
  color: var(--textColor);

  display: grid;
  grid-template-columns: 1.1em auto;
  align-items: center;

  background: var(--buttonActiveBackground);
  padding: .2em .4em;

  border-radius: calc(var(--borderRadius) / 1.5);
}

.saveButton:focus,
.saveButton:hover,
.loadButton:focus,
.loadButton:hover {
  color: #fff;

  background: var(--accentColor);
}

.saveButton:active,
.loadButton:active {
  color: #fff;

  background: var(--buttonActiveBackground);
}

.saveLoadButtonIcon {
  filter: var(--icons);
}

.saveButton:focus .saveLoadButtonIcon,
.saveButton:hover .saveLoadButtonIcon,
.saveButton:active .saveLoadButtonIcon,
.loadButton:focus .saveLoadButtonIcon,
.loadButton:hover .saveLoadButtonIcon,
.loadButton:active .saveLoadButtonIcon {
  filter: invert(1);
}
