.entries {
  display: grid;
  row-gap: .6em;
}

.entry.entry {
  display: grid;
  grid-template-columns: 3.5em auto;
  column-gap: 1em;
  align-items: center;

  width: 100%;

  padding: .5em .75em;
  border-radius: var(--borderRadius);
}

.entry:focus,
.entry:hover {
  background: var(--buttonFocusBackground);
}

.entry:active {
  background: var(--buttonActiveBackground);
}

.selectMode.selectMode {
  grid-template-columns: 1em 3.5em auto;
}

.selectButton.selectButton {
  display: none;

  aspect-ratio: 1 / 1;

  border: solid #efefef70 1px;
  border-radius: 100px;
}

.selectButtonShown.selectButtonShown {
  display: initial;
}

.selectButtonSelected.selectButtonSelected {
  background: var(--accentColor);
  border: none;
}

.info > * {
  text-align: left;

  margin: 0;
}

.coverArt {
  background: #fff;
  border-radius: var(--borderRadius);
}

@media (min-width: 28.125em) {
  .entry.entry {
    grid-template-columns: 4em auto;
  }

  .selectMode.selectMode {
    grid-template-columns: 1em 4em auto;
  }
}

