.entries {
  display: grid;
  row-gap: .6em;
}

.entry.entry {
  color: light-dark(#333, #efefef);

  display: grid;
  grid-template-columns: 3.5em auto;
  column-gap: 1em;
  align-items: center;

  width: 100%;

  background: none;
  padding: .5em .75em;

  border: none;
  border-radius: var(--borderRadius);

  margin: 0;
}

.entry.entry:focus,
.entry.entry:hover {
  background: light-dark(#ebeaf3, #4d4c4d);
}

.selectMode.selectMode {
  grid-template-columns: 1em 3.5em auto;
}

.selectButton.selectButton {
  display: none;

  aspect-ratio: 1 / 1;

  border-radius: var(--borderRadius);
}

.selectButtonShown.selectButtonShown {
  display: initial;

  background: var(--buttonActiveBackground);

  scale: 1;

  transition: scale 75ms;
}

.entry:active .selectButtonShown.selectButtonShown {
  scale: .8;
}

button:focus .selectButtonShown.selectButtonShown,
button:hover .selectButtonShown.selectButtonShown {
  background: var(--background);
}

.selectButtonSelected.selectButtonSelected.selectButtonSelected.selectButtonSelected {
  background: var(--accentColor);
  border: none;
}

.info > * {
  text-align: left;

  margin: 0;
}

.coverArt {
  background: #fff;
  border-radius: var(--borderRadius);
}

@media (min-width: 28.125em) {
  .entry.entry {
    grid-template-columns: 4em auto;
  }

  .selectMode.selectMode {
    grid-template-columns: 1em 4em auto;
  }
}

