.setting {
  font-size: 1.125rem;

  display: grid;
  grid-template-rows: auto auto;
  row-gap: .9em;
}

.setting:not(.setting:last-child) {
  padding-bottom: 1.25em;

  border-bottom: solid #33333333 1px;

  margin-bottom: 1em;
}

:root[style*='color-scheme: dark;'] .setting:not(.setting:last-child) {
  border-bottom-color: #d5d4d433;
}
