.refreshButton.refreshButton {
  grid-row: 3;

  background: var(--accentColor);
  padding: .4em .8em;

  border-radius: var(--borderRadius);
}

@media (min-width: 35.875em) {
  .refreshButton.refreshButton {
    grid-row: revert;
  }
}
