.modal {
  background: var(--widgetBackground);
  padding: 1em 1.25em;

  border: none;
  border-radius: var(--borderRadius);
}

.modalContent {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 12em 1.7em;
  align-items: center;
  row-gap: 1.5em;

  height: 6em;
}

.labelTitle {
  margin: 0;
}

.closeButton.closeButton {
  padding: .1em;
}

:root[style*='color-scheme: dark;'] .closeButtonIcon {
  filter: invert(1);
}

.input {
  grid-column: span 2;

  padding: .17em;

  border: solid var(--textColor) 1px;
  border-radius: var(--borderRadius);

  outline: none;
}

.input:focus {
  border: solid #5294e2 2px;
}

@media (min-width: 24.375em) {
  .modal {
    padding: 2em 3em;
  }

  .modalContent {
    grid-template-columns: 16em 1.7em;
  }
}

