.toggleSwitch.toggleSwitch {
  display: grid;
  align-items: center;

  background: var(--background);
  padding: .25em;

  border-radius: var(--borderRadius);
}

.toggleSwitch.toggleSwitch > * {
  grid-row: 1;
  grid-column: 1;
}

.toggleSwitchText {
  font-weight: 700;
  text-align: right;

  margin-right: .25em;
}

:root[style*='color-scheme: dark;'] .toggleSwitchText {
  opacity: .4;
}

.knob {
  display: block;

  aspect-ratio: 1 / 1;

  width: 1em;

  background: var(--buttonFocusBackground);

  border-radius: var(--borderRadius);

  margin-left: 2px;

  transform: scale(1);
  transition: margin-left 250ms, transform 250ms;
}

.toggleSwitch.toggleSwitch:active .knob {
  transform: scale(.8);
}

.knobToggled {
  background: var(--accentColor);

  margin-left: 3.8em;
}

.knobToggled ~ .toggleSwitchText {
  text-align: left;

  margin-right: 0;
  margin-left: .25em;
}
