.page {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) 90% minmax(1em, 1fr);
  row-gap: 1.66em;
}

.page > * {
  grid-column: 2;
}

.pageHeaderLayout {
  display: grid;
  --search-bar-width: 10em;
  grid-template-rows: auto auto;
  grid-template-columns: max-content max-content;
  grid-auto-flow: column;
  row-gap: 1.5em;
  column-gap: 1em;
  justify-content: start;
  align-items: center;

  transition: grid-template-columns 250ms;
}

.pageHeaderLayout:has(input[id*='search-bar']:focus) {
  --search-bar-width: 14em;
}

.pageTitle {
  font-size: 2rem;

  margin: 0;
}

@media (min-width: 28.125em) {
  .pageHeaderLayout {
    grid-template-columns: max-content var(--search-bar-width) max-content;
    grid-auto-flow: initial;
  }
}

@media (min-width: 31.25em) {
  .pageHeaderLayout {
    column-gap: 2em;
  }
}

@media (min-width: 39.875em) {
  .pageHeaderLayout:has(input[id*='search-bar']:focus) {
    --search-bar-width: 20em;
  }
}

@media (min-width: 48.125em) {
  .pageHeaderLayout:has(input[id*='search-bar']:focus) {
    --search-bar-width: 30em;
  }
}


