.playerArea {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1em;

  display: grid;
  justify-content: center;
}

.player {
  display: grid;
  grid-template-rows: auto 2em;
  grid-template-columns: 80vw;
  justify-content: center;

  background: var(--widgetBackground);
  padding: 1em 1em;

  border: var(--widgetBorder);
  border-radius: var(--borderRadius);
}

.contentTitle {
  font-size: 1rem;
}

.contentDescription {
  text-overflow: ellipsis;

  white-space: nowrap;

  overflow-x: hidden;
}

.audio {
  border-radius: var(--borderRadius);
}

@media (min-width: 28.125em) {
  .player {
    grid-template-columns: 22em;
  }
}
