.searchBar {
  width: 100%;

  background: var(--buttonFocusBackground);
  padding: .2em .5em;

  border: none;
  border-radius: var(--borderRadius);
}

.searchBar:focus {
  outline: solid var(--textColor) 2px;
}
