.controlsArea {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1em;

  display: grid;
  grid-template-columns: minmax(1em, 1fr) auto minmax(1em, 1fr);
  justify-content: center;

  pointer-events: none;
}

.controlsPanel {
  grid-column: 2;

  display: grid;
  grid-template-rows: auto 1.3em;
  grid-template-columns: 3.5em auto;
  column-gap: 1.3em;

  pointer-events: all;

  max-width: 100%;

  background: var(--widgetBackground);
  padding: 1em 1em 1.25em 1em;

  border: var(--widgetBorder);
  border-radius: var(--borderRadius);
}

.playbackButton,
.coverArt {
  grid-row: 1 / span 2;
  grid-column: 1;

  aspect-ratio: 1 / 1;
}

.playbackButton {
  opacity: 0;

  z-index: 1;

  background: #333333bb;
  border-radius: var(--borderRadius);
}

.playbackButton:focus,
.playbackButton:hover {
  opacity: 1;
}

.playbackIcon {
  filter: invert(1);

  scale: .75;
}

.coverArt {
  background: #fff;
  border-radius: var(--borderRadius);
}

.title {
  font-size: 1rem;
  text-overflow: ellipsis;

  white-space: nowrap;

  overflow: hidden;

  max-width: 100%;

  margin: 0;
}

@media (min-width: 28.125em) {
  .controlsPanel {
    grid-template-rows: auto 1.5em;
    grid-template-columns: 4em auto;
  }
}
