:root {
  --textColor: #333;

  --accentColor: #ff4f00;
  --accentColorFocus: #ff5100c4;

  --icons: initial;

  --buttonFocusBackground: #ebeaf3;
  --buttonActiveBackground: #e7e2e3;

  --buttonFocusBackgroundOnWidget: var(--buttonFocusBackground);
  --buttonActiveBackgroundOnWidget: var(--buttonActiveBackground);

  --widgetBackground: #f7f7f7;
  --widgetBorder: solid #e3e3e3 1px;

  --background: #fff;

  --borderRadius: .25em;
}

:root[style*='color-scheme: dark;'] {
  --textColor: #efefef;

  --icons: invert(1);

  --buttonFocusBackground: #4d4c4d;
  --buttonActiveBackground: #464646;

  --buttonFocusBackgroundOnWidget: var(--buttonFocusBackground);
  --buttonActiveBackgroundOnWidget: var(--buttonActiveBackground);

  --widgetBackground: #343535;
  --widgetBorder: solid #191919 1px;

  --background: #282828;
}
