.podcasts.podcasts {
  display: grid;
  row-gap: .6em;
}

.buttons {
  --podcastButtonsFontSize: 1rem;
  font-size: var(--podcastButtonsFontSize);

  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

@media (min-width: 28.125em) {
  .buttons {
    --podcastButtonsFontSize: 1.2rem;

    width: 18.25em;
  }
}

