.page {
  display: grid;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.layout {
  display: grid;
  row-gap: 4em;
  justify-content: center;

  max-width: 43.75em;
}

.title {
  font-size: 1.6rem;
  text-align: center;

  margin: 0;
}

.error {
  font-family: monospace;
  color: #fff;

  white-space: pre-wrap;

  background: #000;
  padding: 1.25em;

  border-radius: var(--borderRadius);

  margin: 0;
}

.button {
  font-size: 1.1rem;
  color: #fff;

  justify-self: center;

  background: var(--accentColor);
  padding: .2em .4em;

  border: none;
  border-radius: var(--borderRadius);
}

@media (min-width: 28.125em) {
  .title {
    font-size: 2rem;
  }

  .button {
    font-size: 1.2rem;
  }
}

